* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --main-app-background: #05080f;
  --logs-background: #161d2f;
  --login-elements: #fc4747;
  --login-el-color: #ffffffc4;
  --main-app-color: #fff;
  --links-color: #5a698f;
}

.login form {
  margin: 0 auto;
  max-width: 380px;
  border-radius: 20px;
  background-color: var(--logs-background);
  padding: 30px;
  position: relative;
}
.login form input,
.login form .enter,
.login .btnLogin {
  width: 100%;
  margin-bottom: 20px;
}
.login form input {
  border: none;
  border-bottom: 1px solid var(--links-color);
  background-color: inherit;
  font-family: Outfit;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0px;
  padding: 5px;
  color: var(--main-app-color);
}

.login form input:focus {
  outline: none;
}

.login label {
  color: #ffffff59;
  font-family: Outfit;
  font-size: 15px;
  font-weight: 400;
  line-height: 18.9px;
  padding-left: 15px;
}
.login h1 {
  color: var(--main-app-color);
  font-size: 32px;
  font-weight: 200;
  line-height: 40.32px;
  letter-spacing: -0.5px;
  margin-bottom: 30px;
}

button {
  display: inline-block;
  cursor: pointer;
  border: none;
}
.login .enter,
.login .btnLogin {
  font-family: Outfit;
  font-size: 15px;
  font-weight: 400;
  line-height: 18.9px;
  color: var(--login-el-color);
  padding: 10px 0;
  background-color: var(--login-elements);
  border-radius: 5px;
  transition: all 0.5s;
}
.login .enter:hover,
.login .btnLogin:hover {
  background-color: var(--main-app-color);
  color: var(--main-app-background);
}
.btnLogin {
  margin-top: 16px;
}
.login .iconCell,
.login .signUp {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-family: Outfit;
  font-size: 15px;
  font-weight: 400;
  line-height: 18.9px;
  color: var(--login-el-color);
}
.sign {
  font-family: Outfit;
  font-size: 15px;
  font-weight: 400;
  line-height: 18.9px;
  color: var(--login-elements);
  background-color: inherit;
}
.login form .erorr,
.login form .erorr1,
.login form .erorr2,
.login form .erorr4,
.login form .rePass,
.nameError,
.nameError1 {
  position: absolute;
  right: 10%;
  top: 58%;
  font-size: 15px;
  color: var(--login-elements);
}
.nameError {
  top: 28%;
  color: var(--login-elements);
}
.nameError1 {
  top: 40%;
}
.login form .erorr1 {
  top: 51%;
}

.login form .erorr2 {
  top: 40%;
}
.login form .erorr3 {
  top: 56%;
}
.login form .rePass {
  top: 74%;
}
.login form .erorr4 {
  top: 62.5%;
}
.iconCell {
  margin: 60px auto;
  max-width: 36px;
}
.icons {
  width: 35px;
  height: 35px;
  color: var(--login-elements);
}
.loginEye,
.signUpEye,
.Repeat {
  font-size: 22px;
  position: absolute;
  cursor: pointer;
  color: var(--main-app-color);
  right: 10%;
  bottom: 44%;
}
.signUpEye {
  bottom: 39.5%;
}
.Repeat {
  bottom: 28.8%;
}
