.profile {
  background-color: #fffefc;
  height: 150vh;
}
.profileBody {
  width: 600px;
  margin: 0 auto;
  position: relative;
}
.backHome {
  position: absolute;
  left: -40%;
  top: 1%;
  font-size: 32px;
  color: #000000;
}
.profileBody h1 {
  font-size: 22px;
  margin-bottom: 10px;
  padding-top: 10px;
  color: #061a36;
}
.profilePic {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  text-align: center;
  border: 2px solid #e9daa1;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profilePic h2 {
  font-size: 2.3rem;
  font-weight: 300;
  color: #0a1942;
}
.upload,
.submit,
.changeaP {
  font-size: 1rem;
  text-transform: capitalize;
  background-color: inherit;
  color: #2d72b4;
  font-family: Outfit;
  margin-bottom: 15px;
}
.submit {
  margin-bottom: 0;
}
.profileBody input {
  width: 100%;
  height: 30px;
  font-size: 1rem;
  border-radius: 4px;
  outline: none;
  padding-left: 10px;
  margin-top: 5px;
}
.names {
  display: flex;
  gap: 20px;
}
.names div {
  width: 100%;
}
.names input {
  border: 1.5px solid #85888d;
}
.namesEmail {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
}
.passwordsCell input {
  margin-bottom: 10px;
  border: 1px solid #9a9fa2;
}
.passwordsCell {
  position: relative;
}
.profile .profileBody label {
  font-size: 0.9rem;
  color: #454b50;
  text-transform: capitalize;
}
.email {
  background-color: #f2f3f5;
  border: 1px solid #dfdfdf;
}
.profileImg {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 1.5px solid #fff;
}

.profileEye {
  font-size: 22px;
  position: absolute;
  cursor: pointer;
  color: #f30909;
  right: 1%;
  bottom: 42%;
}
@media (max-width: 850px) {
  .profileBody {
    width: 70%;
  }
  .backHome {
    left: -20%;
  }
}
@media (max-width: 490px) {
  .profileBody {
    width: 80%;
  }
  .backHome {
    left: -13%;
  }
  .names {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
